<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  if title %}
        <title>ConnectEd - {{  title }}</title>
    {%  else %}
        <title>ConnectEd</title>
    {%  endif %}
</head>
<body>
    {%  with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages  %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>